
:root {
    --mainColor: rgb(158 56 84);
    --lightColor: rgb(255, 255, 255);
    --darkColor: black;
    --cellColorA: grey;
    --cellColorB: rgb(179, 179, 179);
    --imagesBackground: #4c4c4c;
    --bgColor: var(--imagesBackground);
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    border: none;
    color: var(--darkColor);
}

body, html {
    background-color: var(--bgColor);
    overflow-x: hidden;
}

img {
    height: 175px;
    padding: 2px;
    background: var(--imagesBackground);
    border-radius: 10px;
}

.titleHr {
    border-bottom: 4px solid var(--darkColor);
}
.modelTitle {
    display: none;
}
.modelContainer {
    padding-top: 10px;
    background-color: var(--cellColorA);
    --containerBorder: 2px solid var(--mainColor);
    border-top: var(--containerBorder);
    border-bottom: var(--containerBorder);
}
.modelContainer:first-child {
    border-top: 4px solid var(--mainColor);
}
.modelContainer:nth-child(odd) {
    background-color: var(--cellColorB);
}
    
.modelContainer h3 {
    color: var(--lightColor);
    background-color: var(--mainColor);
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    --paddingS: 10px;
    padding-left: var(--paddingS);
    padding-right: var(--paddingS);
    border-radius: 10px;
    margin-bottom: 10px;
}

h2, a {
    color: var(--mainColor);
    background-color: var(--lightColor);
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    --paddingS: 10px;
    padding-left: var(--paddingS);
    padding-right: var(--paddingS);
    border-radius: 10px;
}